<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>9-grid.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ammo.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>ammo_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>life.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{34,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,32}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>life_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{34,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,32}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>pause_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,2},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>quit.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>quit_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,2},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>quitbig.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{231,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,100}}</string>
                <key>sourceSize</key>
                <string>{231,100}</string>
            </dict>
            <key>quitbig_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,84},{231,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,100}}</string>
                <key>sourceSize</key>
                <string>{231,100}</string>
            </dict>
            <key>retry.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{231,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,100}}</string>
                <key>sourceSize</key>
                <string>{231,100}</string>
            </dict>
            <key>retry_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,186},{231,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,100}}</string>
                <key>sourceSize</key>
                <string>{231,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameUIAtlas.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8af07f97d03b02ae653488b2a329a3a:6d1cf4b689c8c316f2b0dfc7754647e8:7fb98ebc539db1bc77b03b3ec76cf70a$</string>
            <key>textureFileName</key>
            <string>gameUIAtlas.png</string>
        </dict>
    </dict>
</plist>
